.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin: 8px 0;
}

.container > small {
  color: red;
}

.label {
  margin-left: 4px;
  font-size: 16px;
}

.input {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
  width: 500px;
  font-size: 16px;
}
.input:focus {
  outline: 1.5px solid gray;
}
